.site-header {
	position: relative;
	padding: 24px 0;
	z-index: 2;

	&::before {
		content: "";
		position: absolute;
		top: -140px;
		right: -100px;
		width: 1440px;
		height: 324px;
		background-image: url("../images/header-illustration-light.svg");

		.lights-off & {
			background-image: url("../images/header-illustration-dark.svg");
		}
	}
}

.site-header-inner {
	position: relative; /* To display all elements above the background color */
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.site-header__illustration-image {
	display: none;
}

@include media(">medium") {
	.site-header__illustration-image {
		display: block;
		position: absolute;
		top: 0%;
	}
}

@include media(">medium") {
	.site-header {
		&::before {
			display: none;
		}
	}
}
