.hero {
	text-align: center;
	padding-top: 48px;
	padding-bottom: 88px;
}

.hero > .container {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.hero-description {
	position: relative; /* To display elements above hero illustrations */
	z-index: 1;
		flex: 1 1 0px;
}

.hero-paragraph {
	margin-bottom: 32px;
}

.lights-toggle {
	color: rgba(color(typography, 2), 0.64);
}

.header-illustration {
	display: none;

	img,
	svg {
		max-width: none;
	}
}

.header-illustration-image {
	display: none;
}

@include media(">medium") {
	.header-illustration {
		display: block;
	}
	.header-illustration-image {
		display: block;
	}
}

.hero-media {
	position: relative;
	z-index: 99;
	flex: 1 1 0px;
}

.hero-media-illustration-image {
	position: absolute;
	top: -5%;
	left: 10%;
	margin-left: auto;
	margin-right: auto;
	max-width: 138%;
	// max-height: 100%;
}

.hero-media-image {
	margin: 0 auto;
	box-shadow: 48px 16px 48px rgba(color(bg, 1i), 0.12);
	border-radius: 4px;
	transform: perspective(1000px) rotateY(16deg) rotateX(2deg) rotateZ(-7deg)
		scaleY(0.95) translatex(2%);

	.lights-off & {
		box-shadow: 48px 16px 48px rgba(darken(color(bg, 1i), 35%), 0.2);
	}
}

@include media("<medium") {
	.lights-toggle {
		justify-content: center;
	}
}

@include media(">medium") {
	.hero {
		text-align: left;
		padding-top: 88px;
		padding-bottom: 120px;
	}

	.hero-title {
		margin-bottom: 16px;
	}

	.hero > .container {
		align-items: center;
	}
}

@include media(">large") {
	.hero > .container {
		flex-direction: row;
		justify-content: space-between;
	}
}
